<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="[% base %]">
    <title>Hidden Kosmos — Reconstructing Alexander von Humboldt's »Kosmos-Lectures«</title>

    <!-- Bootstrap -->
    <link href="[% base %]static/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/fixedheader/2.1.2/css/dataTables.fixedHeader.css">

    <style type="text/css">
      #data td { vertical-align:top }
      .persname { font-weight:bold }
      /* Universität */
      a[href*="libelt_hs6623ii_1828"],       *[class*="libelt_hs6623ii_1828"]       { color:#66ff66 }
      a[href*="nn_msgermqu2345_1827"],       *[class*="nn_msgermqu2345_1827"]       { color:#33ff33 }
      a[href*="nn_n0171w1_1828"],            *[class*="nn_n0171w1_1828"]            { color:#00ff00 }
      a[href*="nn_oktavgfeo79_1828"],        *[class*="nn_oktavgfeo79_1828"]        { color:#00cc00 }
      a[href*="parthey_msgermqu1711_1828"],  *[class*="parthey_msgermqu1711_1828"]  { color:#009900 }
      a[href*="patzig_msgermfol841842_1828"],*[class*="patzig_msgermfol841842_1828"]{ color:#006600 }
      a[href*="riess_f2e1853_1828"],         *[class*="riess_f2e1853_1828"]         { color:#003300 }

      /* Singakademie */
      a[href*="nn_msgermqu2124_1827"],       *[class*="nn_msgermqu2124_1827"]       { color:#f00 }
      a[href*="hufeland_privatbesitz_1829"], *[class*="hufeland_privatbesitz_1829"] { color:#a00 }
    </style>
  </head>
  <body>
 
    <div class="container">
      [% content %]
    </div>

    <footer style="margin-top:30px;font-size:smaller">
      <div class="container-fluid">
        <div style="text-align:center;padding:15px;background:#f0f0f0">
          Kontakt und Feedback: <a href="mailto:christian.thomas.1@staff.hu-berlin.de">christian.thomas.1@staff.hu-berlin.de</a>
        </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="[% base %]static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/fixedheader/2.1.2/js/dataTables.fixedHeader.min.js"></script>

    [% TRY; PROCESS js; CATCH; ''; END %]
  </body>
</html>
